body {
	padding: 0;
	margin: 0;
}
nav a {
	font-size: 2rem;
	color: seashell;
}
h1 {
	font-weight: bolder;
	color: white;
	padding: 40px 0;
	font-family: "ubuntu-black" sans-serif;
	line-height: 3rem;
}

button i {
	margin-right: 10px;
}
h2 {
	font-weight: bold;
}
.naw-btn {
	margin-bottom: 20px;
}
.testimonial-img {
	width: 10%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	margin: 20px;
}
.container-fluid {
	padding: 5% 7%;
	background-color: red;
}
.row img {
	transform: rotate(25deg);
	position: relative;
	margin-left: 20%;
	margin-top: 20px;
}
section a {
	font-family: "ubuntu", sans-serif;
}
p {
	color: #8f8f8f;
	font-size: 1.5rem;
}

.carousel-item {
	padding: 5% 7%;
}
.carousel-control-prev,
.carousel-control-next {
	background-color: inherit;
	border: 0ch;
	padding-top: 10%;
}

.navbar-item {
	padding-right: 3rem;

	font-size: 1.5rem;
}
.feature-box {
	text-align: center;
	padding: 5%;
}
.icon {
	color: #ef8172;
	margin-bottom: 1.5rem;
}
.icon:hover {
	color: red;
}
.press-logo {
	width: 15%;
	margin: 20px 20px 10px;
}

#nav1 {
	padding-bottom: 60px;
	padding-left: 0 !important;
	padding-bottom: 60px;
	padding-left: 0 !important;
	padding-top: 20px;
}
#title {
	background-color: red;
}
#features {
	margin-top: 30px;
	padding: 7% 15%;
	background-color: #fff;
	position: relative;
	z-index: 1;
}

/* Testimonial section */
#testimonials {
	background-color: #ef8172;

	color: aliceblue;
	text-align: center;
}
#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 20px;
}
#pricing {
	text-align: center;
	padding: 100px;
}

/* footer section */

#cta {
	padding: 7% 15%;
	text-align: center;
	color: ivory;
	background-color: #ff4c68;
}
#cta button {
	margin: 20px;
}
#cta h3 {
	font-size: 40px;
	font-family: 'Montserrat-black', sans-serif;
}
#footer {
	background-color: whitesmoke;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Montserrat-black', sans-serif;
}
#footer i {
	margin: 10px;
}
