body {
	background-color: red;
}
nav a {
	font-size: 2rem;
	color: seashell;
}
h1 {
	padding: 40px 0;
}
img {
	transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-o-transform: rotate(25deg);
}
section a {
	font-family: "ubuntu", sans-serif;
}
button .icon {
	padding-left: 10px;
}
.down-btn {
	margin: 30px 5px;
	padding: 5px 10px;
}
.navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
	font-size: 1.5rem;
}
#nav1 {
	padding-bottom: 60px;
	padding-left: 0 !important;
}
#title {
	background-color: red;
}
